<div>
  <%= $text %>
</div>
<br>
<form method="post" action="/">
  <input type="text" name="paragraphs"><br>
  Paragraphs<br>
  <input type="text" name="words"><br>
  Words
  <input type="submit">
</form>